*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter,sans-serif;
}

.registerMenu{
    background-position: center;
    justify-content: center;
    align-content: center;
    margin-top: -300rem;
    margin-bottom: 10rem ;
    margin-left: 20rem;
    width: 80rem;
}

.registerMenuImage{

    margin-bottom: 16rem ;
    margin-left: 27rem;
    margin-top: -180rem;
    /*width: 80rem;*/
}

.notepadInput{
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin-top: -45rem;
    margin-left: 65rem;
    margin-bottom: 6rem;
    font-weight: bolder;
    font-size: 3rem;
}

.notepadInput .emailBox{
    margin-top: 2rem;
    margin-bottom: -2rem;
    font-size: 1.3rem;
    font-weight: lighter;
    width: 10rem;
    display: flex;
}

.notepadInput .passwordBox{
    margin-top: 2rem;
    margin-bottom: -2rem;
    font-size: 1.3rem;
    font-weight: lighter;
    width: 10rem;
    display: flex;
}

.notepadInput input{
    column-gap: 2rem;
    width: 30rem;
    height: 3rem;
    /*padding-bottom: 3rem;*/
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.loginFooter{
    margin-left: 79rem;
    margin-top: -5rem;
}

.loginFooter .submit{
    margin-left: -13.8rem;
    margin-top: 1rem;
    width: 13rem;
    height: 2.7rem;
    font-size: 1.2rem;
    border-radius: 20px;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15rem;
    margin-left: 50rem;
    gap: 0.7rem;
}
